In [3]:
import pandas as pd

In [ ]:
#https://www.kaggle.com/code/razamh/stack-overflow-developer-survey-analysis/notebook

In [4]:
print(pd.__version__)

2.0.2

In [5]:
data = pd.read_csv(r"C:\Users\srini\OneDrive\Documents\MyData(srinu)\stackOverFlow\survey_results_public.csv")

In [95]:
df = pd.DataFrame(data)
df.shape

(73268, 79)

In [96]:
df.columns
df

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,...,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73264,73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,...,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73265,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,...,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73266,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73267,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [31]:
df.loc[1]['Country']

'Canada'

In [32]:
df['Country'].count()

71771

In [33]:
df.describe()

,ResponseId,CompTotal,VCHostingPersonal use,VCHostingProfessional use,WorkExp,ConvertedCompYearly
count,73268.000000,3.842200e+04,0.0,0.0,36769.000000,3.807100e+04
mean,36634.500000,2.342434e+52,NaN,NaN,10.242378,1.707613e+05
std,21150.794099,4.591478e+54,NaN,NaN,8.706850,7.814132e+05
min,1.000000,0.000000e+00,NaN,NaN,0.000000,1.000000e+00
25%,18317.750000,3.000000e+04,NaN,NaN,4.000000,3.583200e+04
50%,36634.500000,7.750000e+04,NaN,NaN,8.000000,6.784500e+04
75%,54951.250000,1.540000e+05,NaN,NaN,15.000000,1.200000e+05
max,73268.000000,9.000000e+56,NaN,NaN,50.000000,5.000000e+07

In [40]:
df['Age'].describe()

count               70946
unique                  8
top       25-34 years old
freq                28112
Name: Age, dtype: object

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73268 entries, 0 to 73267
Data columns (total 79 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ResponseId                      73268 non-null  int64
 1   MainBranch                      73268 non-null  object
 2   Employment                      71709 non-null  object
 3   RemoteWork                      58958 non-null  object
 4   CodingActivities                58899 non-null  object
 5   EdLevel                         71571 non-null  object
 6   LearnCode                       71580 non-null  object
 7   LearnCodeOnline                 50685 non-null  object
 8   LearnCodeCoursesCert            29389 non-null  object
 9   YearsCode                       71331 non-null  object
 10  YearsCodePro                    51833 non-null  object
 11  DevType                         61302 non-null  object
 12  OrgSize                         51039 non-null  object
 13  PurchaseInfluence               50969 non-null  object
 14  BuyNewTool                      67963 non-null  object
 15  Country                         71771 non-null  object
 16  Currency                        51264 non-null  object
 17  CompTotal                       38422 non-null  float64
 18  CompFreq                        44425 non-null  object
 19  LanguageHaveWorkedWith          70975 non-null  object
 20  LanguageWantToWorkWith          67027 non-null  object
 21  DatabaseHaveWorkedWith          60121 non-null  object
 22  DatabaseWantToWorkWith          51014 non-null  object
 23  PlatformHaveWorkedWith          49924 non-null  object
 24  PlatformWantToWorkWith          40415 non-null  object
 25  WebframeHaveWorkedWith          53544 non-null  object
 26  WebframeWantToWorkWith          46122 non-null  object
 27  MiscTechHaveWorkedWith          44992 non-null  object
 28  MiscTechWantToWorkWith          36810 non-null  object
 29  ToolsTechHaveWorkedWith         54171 non-null  object
 30  ToolsTechWantToWorkWith         46566 non-null  object
 31  NEWCollabToolsHaveWorkedWith    70347 non-null  object
 32  NEWCollabToolsWantToWorkWith    64108 non-null  object
 33  OpSysProfessional use           65503 non-null  object
 34  OpSysPersonal use               70963 non-null  object
 35  VersionControlSystem            71379 non-null  object
 36  VCInteraction                   68156 non-null  object
 37  VCHostingPersonal use           0 non-null      float64
 38  VCHostingProfessional use       0 non-null      float64
 39  OfficeStackAsyncHaveWorkedWith  46223 non-null  object
 40  OfficeStackAsyncWantToWorkWith  32072 non-null  object
 41  OfficeStackSyncHaveWorkedWith   62128 non-null  object
 42  OfficeStackSyncWantToWorkWith   47688 non-null  object
 43  Blockchain                      71071 non-null  object
 44  NEWSOSites                      71365 non-null  object
 45  SOVisitFreq                     70961 non-null  object
 46  SOAccount                       71572 non-null  object
 47  SOPartFreq                      58229 non-null  object
 48  SOComm                          71408 non-null  object
 49  Age                             70946 non-null  object
 50  Gender                          70853 non-null  object
 51  Trans                           70315 non-null  object
 52  Sexuality                       66565 non-null  object
 53  Ethnicity                       69474 non-null  object
 54  Accessibility                   67244 non-null  object
 55  MentalHealth                    66447 non-null  object
 56  TBranch                         52670 non-null  object
 57  ICorPM                          36283 non-null  object
 58  WorkExp                         36769 non-null  float64
 59  Knowledge_1                     35804 non-null  object
 60  Knowledge_2                     34973 non-null  object
 61  Knowledge_3                     35133 non-null  object
 62  Knowledge_4                     35097 non-null  object
 63  Knowledge_5                     35014 non-null  object
 64  Knowledge_6                     34991 non-null  object
 65  Knowledge_7                     34977 non-null  object
 66  Frequency_1                     35371 non-null  object
 67  Frequency_2                     35344 non-null  object
 68  Frequency_3                     34515 non-null  object
 69  TimeSearching                   36198 non-null  object
 70  TimeAnswering                   36022 non-null  object
 71  Onboarding                      35679 non-null  object
 72  ProfessionalTech                34906 non-null  object
 73  TrueFalse_1                     35819 non-null  object
 74  TrueFalse_2                     35715 non-null  object
 75  TrueFalse_3                     35749 non-null  object
 76  SurveyLength                    70444 non-null  object
 77  SurveyEase                      70508 non-null  object
 78  ConvertedCompYearly             38071 non-null  float64
dtypes: float64(5), int64(1), object(73)
memory usage: 44.2+ MB

In [106]:
selected_columns = ['CompTotal',
                    'ConvertedCompYearly',
                    'Age',
                    'Gender',
                    'Ethnicity',
                    'Country',
                    'Employment',
                    'OrgSize',
                    'DevType',
                    'CodingActivities',
                    'MentalHealth',
                   'YearsCode',
                   'YearsCodePro']

In [107]:
len(selected_columns)

13

In [108]:
refine_data = df[selected_columns].copy()

In [76]:
refine_data

,CompTotal,Age,Gender,Ethnicity,Country,Employment,OrgSize,DevType,CodingActivities,MentalHealth,YearsCode,YearsCodePro
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,Canada,"Employed, full-time",NaN,NaN,Hobby;Contribute to open-source projects,NaN,NaN,NaN
2,32000.0,25-34 years old,Man,White,United Kingdom of Great Britain and Northern I...,"Employed, full-time",20 to 99 employees,Data scientist or machine learning specialist;...,Hobby,"I have a mood or emotional disorder (e.g., dep...",14,5
3,60000.0,35-44 years old,Man,White,Israel,"Employed, full-time",100 to 499 employees,"Developer, full-stack",I don’t code outside of work,None of the above,20,17
4,NaN,25-34 years old,NaN,NaN,United States of America,"Employed, full-time",20 to 99 employees,"Developer, front-end;Developer, full-stack;Dev...",Hobby,NaN,8,3
...,...,...,...,...,...,...,...,...,...,...,...,...
73263,60000.0,25-34 years old,Man,African,Nigeria,"Employed, full-time",100 to 499 employees,"Developer, back-end",Freelance/contract work,None of the above,8,5
73264,107000.0,25-34 years old,Man,White,United States of America,"Employed, full-time",I don’t know,Data scientist or machine learning specialist,Hobby,None of the above,6,5
73265,NaN,55-64 years old,Man,Multiracial,United States of America,"Employed, full-time",20 to 99 employees,"Developer, full-stack;Developer, desktop or en...",Hobby;School or academic work,None of the above,42,33
73266,58500.0,55-64 years old,Man,European,United Kingdom of Great Britain and Northern I...,"Employed, full-time",10 to 19 employees,"Developer, front-end;Developer, desktop or ent...",Hobby,None of the above,50,31
73267,NaN,25-34 years old,Man,"Or, in your own words:",Canada,"Independent contractor, freelancer, or self-em...",NaN,"Developer, front-end;Engineer, data;Engineer, ...",Hobby;Contribute to open-source projects;Boots...,None of the above,16,5

In [109]:
refine_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73268 entries, 0 to 73267
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CompTotal            38422 non-null  float64
 1   ConvertedCompYearly  38071 non-null  float64
 2   Age                  70946 non-null  object
 3   Gender               70853 non-null  object
 4   Ethnicity            69474 non-null  object
 5   Country              71771 non-null  object
 6   Employment           71709 non-null  object
 7   OrgSize              51039 non-null  object
 8   DevType              61302 non-null  object
 9   CodingActivities     58899 non-null  object
 10  MentalHealth         66447 non-null  object
 11  YearsCode            71331 non-null  object
 12  YearsCodePro         51833 non-null  object
dtypes: float64(2), object(11)
memory usage: 7.3+ MB

In [110]:
refine_data.describe()

          CompTotal  ConvertedCompYearly
count  3.842200e+04         3.807100e+04
mean   2.342434e+52         1.707613e+05
std    4.591478e+54         7.814132e+05
min    0.000000e+00         1.000000e+00
25%    3.000000e+04         3.583200e+04
50%    7.750000e+04         6.784500e+04
75%    1.540000e+05         1.200000e+05
max    9.000000e+56         5.000000e+07

In [111]:
refine_data['YearsCode'].unique()

array([nan, '14', '20', '8', '15', '3', '1', '6', '37', '5', '12', '22',
       '11', '4', '7', '13', '36', '2', '25', '10', '40', '16', '27',
       '24', '19', '9', '17', '18', '26', 'More than 50 years', '29',
       '30', '32', 'Less than 1 year', '48', '45', '38', '39', '28', '23',
       '43', '21', '41', '35', '50', '33', '31', '34', '46', '44', '42',
       '47', '49'], dtype=object)

In [112]:
refine_data['YearsCodePro'].unique()

array([nan, '5', '17', '3', '6', '30', '2', '10', '15', '4', '22', '20',
       '40', '9', '14', '21', '7', '18', '25', '8', '12', '45', '1', '19',
       '28', '24', '11', '23', 'Less than 1 year', '32', '27', '16', '44',
       '26', '37', '46', '13', '31', '39', '34', '38', '35', '29', '42',
       '36', '33', '43', '41', '48', '50', 'More than 50 years', '47',
       '49'], dtype=object)

In [113]:
refine_data['YearsCode'] = pd.to_numeric(refine_data.YearsCode,errors='coerce')

In [114]:
refine_data['YearsCodePro'] = pd.to_numeric(refine_data.YearsCodePro,errors='coerce')

In [115]:
refine_data['YearsCode']

0         NaN
1         NaN
2        14.0
3        20.0
4         8.0
         ...
73263     8.0
73264     6.0
73265    42.0
73266    50.0
73267    16.0
Name: YearsCode, Length: 73268, dtype: float64

In [116]:
refine_data['YearsCodePro']

0         NaN
1         NaN
2         5.0
3        17.0
4         3.0
         ...
73263     5.0
73264     5.0
73265    33.0
73266    31.0
73267     5.0
Name: YearsCodePro, Length: 73268, dtype: float64

In [92]:
refine_data.describe()

          CompTotal     YearsCode  YearsCodePro
count  3.842200e+04  69746.000000  49820.000000
mean   2.342434e+52     12.403951     10.268727
std    4.591478e+54      9.722896      8.576772
min    0.000000e+00      1.000000      1.000000
25%    3.000000e+04      5.000000      4.000000
50%    7.750000e+04     10.000000      8.000000
75%    1.540000e+05     17.000000     15.000000
max    9.000000e+56     50.000000     50.000000

In [93]:
refine_data['Age']

0                    NaN
1                    NaN
2        25-34 years old
3        35-44 years old
4        25-34 years old
              ...
73263    25-34 years old
73264    25-34 years old
73265    55-64 years old
73266    55-64 years old
73267    25-34 years old
Name: Age, Length: 73268, dtype: object

In [117]:
refine_data['ConvertedCompYearly'] = pd.to_numeric(refine_data.ConvertedCompYearly,errors='coerce')

In [118]:
refine_data

,CompTotal,ConvertedCompYearly,Age,Gender,Ethnicity,Country,Employment,OrgSize,DevType,CodingActivities,MentalHealth,YearsCode,YearsCodePro
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Canada,"Employed, full-time",NaN,NaN,Hobby;Contribute to open-source projects,NaN,NaN,NaN
2,32000.0,40205.0,25-34 years old,Man,White,United Kingdom of Great Britain and Northern I...,"Employed, full-time",20 to 99 employees,Data scientist or machine learning specialist;...,Hobby,"I have a mood or emotional disorder (e.g., dep...",14.0,5.0
3,60000.0,215232.0,35-44 years old,Man,White,Israel,"Employed, full-time",100 to 499 employees,"Developer, full-stack",I don’t code outside of work,None of the above,20.0,17.0
4,NaN,NaN,25-34 years old,NaN,NaN,United States of America,"Employed, full-time",20 to 99 employees,"Developer, front-end;Developer, full-stack;Dev...",Hobby,NaN,8.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,60000.0,NaN,25-34 years old,Man,African,Nigeria,"Employed, full-time",100 to 499 employees,"Developer, back-end",Freelance/contract work,None of the above,8.0,5.0
73264,107000.0,NaN,25-34 years old,Man,White,United States of America,"Employed, full-time",I don’t know,Data scientist or machine learning specialist,Hobby,None of the above,6.0,5.0
73265,NaN,NaN,55-64 years old,Man,Multiracial,United States of America,"Employed, full-time",20 to 99 employees,"Developer, full-stack;Developer, desktop or en...",Hobby;School or academic work,None of the above,42.0,33.0
73266,58500.0,NaN,55-64 years old,Man,European,United Kingdom of Great Britain and Northern I...,"Employed, full-time",10 to 19 employees,"Developer, front-end;Developer, desktop or ent...",Hobby,None of the above,50.0,31.0
73267,NaN,NaN,25-34 years old,Man,"Or, in your own words:",Canada,"Independent contractor, freelancer, or self-em...",NaN,"Developer, front-end;Engineer, data;Engineer, ...",Hobby;Contribute to open-source projects;Boots...,None of the above,16.0,5.0

In [120]:
refine_data['Age'] = pd.to_numeric(refine_data.Age,errors='coerce')

In [122]:
refine_data.drop(refine_data[refine_data.Age < 10].index,inplace=True)

In [123]:
refine_data

,CompTotal,ConvertedCompYearly,Age,Gender,Ethnicity,Country,Employment,OrgSize,DevType,CodingActivities,MentalHealth,YearsCode,YearsCodePro
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Canada,"Employed, full-time",NaN,NaN,Hobby;Contribute to open-source projects,NaN,NaN,NaN
2,32000.0,40205.0,NaN,Man,White,United Kingdom of Great Britain and Northern I...,"Employed, full-time",20 to 99 employees,Data scientist or machine learning specialist;...,Hobby,"I have a mood or emotional disorder (e.g., dep...",14.0,5.0
3,60000.0,215232.0,NaN,Man,White,Israel,"Employed, full-time",100 to 499 employees,"Developer, full-stack",I don’t code outside of work,None of the above,20.0,17.0
4,NaN,NaN,NaN,NaN,NaN,United States of America,"Employed, full-time",20 to 99 employees,"Developer, front-end;Developer, full-stack;Dev...",Hobby,NaN,8.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,60000.0,NaN,NaN,Man,African,Nigeria,"Employed, full-time",100 to 499 employees,"Developer, back-end",Freelance/contract work,None of the above,8.0,5.0
73264,107000.0,NaN,NaN,Man,White,United States of America,"Employed, full-time",I don’t know,Data scientist or machine learning specialist,Hobby,None of the above,6.0,5.0
73265,NaN,NaN,NaN,Man,Multiracial,United States of America,"Employed, full-time",20 to 99 employees,"Developer, full-stack;Developer, desktop or en...",Hobby;School or academic work,None of the above,42.0,33.0
73266,58500.0,NaN,NaN,Man,European,United Kingdom of Great Britain and Northern I...,"Employed, full-time",10 to 19 employees,"Developer, front-end;Developer, desktop or ent...",Hobby,None of the above,50.0,31.0
73267,NaN,NaN,NaN,Man,"Or, in your own words:",Canada,"Independent contractor, freelancer, or self-em...",NaN,"Developer, front-end;Engineer, data;Engineer, ...",Hobby;Contribute to open-source projects;Boots...,None of the above,16.0,5.0

In [ ]:
#In[22]